<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
   <header>
    <section class="nav">
        <div class="logo">
            <img src="/assets/images/logo.png" alt="logo">
        </div>
    <ul>
        <li><a href="/template/index.html">Home</a></li>
        <li><a href="/template/about.html"><About</a></li>
        <li><a href="/template/services.html">Services</a></li>
        <li><a href="/template/contact.html">Contact</a></li>
    </ul>
    </section>
   </header>
</body>
</html>