* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: black;
    --text-color1: #03045e;
    --text-color2: #0077b6;
    --text-color3: #00b4d8;
    --text-color4: #90e0ef;
    --background-color1: #111111;
    --background-color2: #555555;
    --hover-link-color: #FFD700;
    --active-link-color: #FFD700;
    --button-background-color: #FFD700;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "poppins", sans-serif;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 16px;
}

